<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-featured-image {"style":{"border":{"radius":"1.75rem"}}} /-->
	<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->
	<!-- wp:group {"layout":{"type":"flex"},"fontSize":"small"} -->
	<div class="wp-block-group has-small-font-size">
		<!-- wp:post-date /-->
		<!-- wp:post-author-name /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small"} -->
	<div class="wp-block-group has-small-font-size">
		<!-- wp:post-terms {"term":"category"} /-->
		<!-- wp:post-terms {"term":"post_tag"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:comments -->
	<div class="wp-block-comments">
		<!-- wp:comments-title /-->
		<!-- wp:comment-template -->
		<!-- wp:comment-author-name /-->
		<!-- wp:comment-date /-->
		<!-- wp:comment-content /-->
		<!-- /wp:comment-template -->
		<!-- wp:comments-pagination /-->
		<!-- wp:post-comments-form /-->
	</div>
	<!-- /wp:comments -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
